.recruit {
  display: flex;
  min-width: 1480px;
  margin: 4em auto 2em;
  padding: 0 20px;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $desktopBig) {
    min-width: auto;
  }

  &__search {
    margin-top: 4em;
    margin-right: 2em;
  }

}
