@font-face {
  font-family: 'Bridge Type';
  src: url('./fonts/BridgeType/BridgeType-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('./fonts/Beausanspro/PFBeauSansPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('./fonts/Beausanspro/PFBeauSansPro-Reg.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('./fonts/Beausanspro/PFBeauSansPro-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('./fonts/Beausanspro/PFBeauSansPro-SeBold.ttf');
  font-weight: 600;
  font-style: normal;
}
